---
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="theme-dark">

    <header class="site-header container">
      <a href="{{ '/' | relative_url }}" class="logo-link" aria-label="Accueil SQLTemp">
      <img
        src="{{ '/logo/SQLTemp_BIMI_v3.svg' | relative_url }}"
        alt="SQLTemp Cybersécurité"
        class="site-logo"
        loading="eager"
        decoding="async"
        >
      </a>
    </header>


    <main class="container">
      {{ content }}
    </main>

    <footer class="site-footer container">
      <p>© {{ site.time | date: '%Y' }} {{ site.author }} </p>
    </footer>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
